<!-- Taken from class examples-->
{% load static %}
<!DOCTYPE html>
<html>
  <html class="no-js" lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Register</title>
      <link rel="stylesheet" href="{% static "css/foundation.css" %}">
      <link rel="stylesheet" href="{% static "css/app.css" %}">
    </head>
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h1>4Pong Register</h1>
    <form action="/register/" method="post">
        {% csrf_token %}

        {{ form.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        <input type="submit" class="button expanded" value="Register" />
    </form>
  </div>
</div>
  </html>