{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
<body>
  <!--Navigation bar adapted from see README.md(Works Cited 1.)-->
  <div class="topnav">
    <a class="active" href="/homePage">Home</a>
    <a href="/leaderBoard">LeaderBoards</a>
    <a href="/gameLobby">Game/Lobby</a>
    <a href="/chat">ChatPage</a>
    <a href="/logout">Logout</a>
  </div>
{% block content %}
{% endblock %}
</body>
</html>